body {
	font-family: 'Oxygen', sans-serif;
	font-size: 9px;
	width: 100%;
	margin: 0;
	background-color: #0d1117;
	position: absolute;
}

.container {
	margin: 0;
}

#top {
	/*font-size: clamp(1rem, 1vw + 1rem, 3rem);*/
	text-align: center;
	margin: 1rem;
}

h1 {
	font-size: clamp(1rem, 1vw + 1rem, 2rem);
	/*margin: 1rem;*/
	color: #e6edf3;
}

#top button {
	background-color: rgb(100, 0, 0, 0);
	border: none;
	border-radius: 1rem;
}

#top button span {
	font-size: 46px;
	color: #e6edf3;;
	padding: .5rem;
}

.nav {

}

.grid {
	position: relative;
	/*margin: */
}

#weekdays {
	margin-bottom: 1vw;
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	/*border-style: ridge;*/
	/*border-right*/
	/*background-color: #161b22;*/
	/*background-color: #262626;*/
}

#weekdays div {
	text-align: center;

	color: #e6edf3;
	font-size: 1.25em;
}

#calendar {
	border-top-style: ridge;
	border-top-width: 1px;
	border-top-color: black;
	height: 75dvh;
	grid-template-columns: repeat(7, 1fr);
	grid-template-rows: repeat(6, 1fr);
	display: grid;
	background-color: #161b22;
}

#padded-square {
	background-color: #262626;
}

#calendar div,
#padded-square {
	position: relative;
	border-width: 0;
	border-bottom-width: 2px;
	border-color: black;
	margin: 0;
	text-align: center;
	font-size: clamp(1rem, 1.25rem, 1.5rem);
	color: #e6edf3;
}

#calendar div:nth-of-type(1n) {
	border-right-width: 1px;
	border-right-style: ridge;
	border-right-color: black;
}

#calendar div:nth-of-type(7n-6) {
	border-left-color: black;
	border-left-style: ridge;
	border-left-width: 1px;
}

#calendar div:nth-of-type(1n) {
	border-bottom-color: black;
	border-bottom-style: ridge;
	border-bottom-width: 1px;
}

#calendar div:hover {
	background-color: rgba(53, 53, 53);
}